 section {
     width: 600px;
     margin-bottom: 3rem;
 }
section p{
    font-size: 3rem;
}
#myChart {
    margin-left: 100px;
}

 #products{
     width:600px;
     margin-left: 200px;
 }
 #products img {
    width: 12rem;
    height: 12rem;
    border: 3px solid  gray;
    border-radius: 15%;
    
    
}
body {
    background-color: bisque;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}
h1 {
    font-family: 'Source Code Pro', monospace;
    font-size: 4rem;
    margin-bottom: 1rem;

}

.sidebar {
  top: 0;
    left: 0;
    width: 90px;
    background-color: gray;
    position: fixed;
    height: 100%;
    padding-top: 50px;

  }
  li a {
    /* display: block; */
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

  li{
      margin-top: 30px;
  }
 .wrapper{
     width: 600px;
    margin-left: 200px;

 }
 .instructions{
     font-size: 2rem;
 }